<ul>
    <li>
        <p>Created a new Gitlab repository using this template:</p>
        <p> https://pages.gitlab.io/plain-html            </p>

    </li>
    <li>
        <p>rename your project to namespace.gitlab.io, where namespace is
            your username or groupname. This can be done by navigating to your
            project's Settings.</p>

    </li>
    <li>
        <p>Following ReactJS tutorial - https://reactjs.org/tutorial/tutorial.html#setup-for-the-tutorial</p>
        <ul>
            <li>
                <p>Installed node https://nodejs.org/en/</p>
                <p>Run command <span>npx create-react-app public/react-website  --template typescript</span> </p>
                <p>Optional: <span>npm uninstall -g create-react-app</span> </p>
               
            </li>
        </ul>

    </li>
</ul>